
<h1>About Mooch</h1>

<div class="about-mooch">

<div class="about-column">
<h3>What is Mooch? | Our Mission</h3>
<p>	Mooch is a platform dedicated to publishing your leftovers so that hungry moochers can finish it for you, ultimately eliminating food waste, world hunger, and all negative emotions.</p>
</div>

<div class="about-column">
<h3>Why Mooch? | Our Vision</h3>
<p>When was the last time your food went bad sitting at the back of your fridge? How about when you stare at a box of pizza in your office that goes untouched for days before being thrown away? Have you ever wanted to share your food but were too socially awkward to announce that you were giving it away? Or perhaps you've found yourself thinking, "Man, that casserole that Bob in marketing is eating looks amazing, I wonder if he's going to finish it?" and fantasize about that very same casserole for the rest of the week?</p>
<p>Enter Mooch. By providing a space in which to publish leftovers, Mooch removes the hassle of asking or offering for leftovers. Through effective implementation, Mooch will reduce food waste in the office, feed some hungry tummies who forgot their lunchbox at home,or simply give you an easy way to share that big tray of leftover holidays in way that nobody misses the announcement.</p>
</div>

<div class="about-column">
<h3>Who Should Mooch? | Our Users</h3>
<h5>When to Post</h5>
<ul>
<li>When you have leftovers you don’t want.</li>
<li>When you have too much food at home and it’s gonna go bad soon.</li>
<li>When you find orphaned food.</li>
</ul>

<h5>When to Mooch</h5>
<ul>
<li>When you forgot your lunchbox.</li>
<li>When that $10 organic fair trade vegan multigrain kale sandwich didn’t quite cut it.</li>
<li>When the struggle is real.</li>
</ul>
</div>
</div>
