/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .gallery-parent {
   display: inline;
   margin-left: auto;
   margin-right: auto;
 }

 div.gallery {
     border: 1px solid #ccc;
     width: 33%;
     height: 400px;
     padding: 15px;
     vertical-align: top;
 }

 div.gallery:hover {
     border: 1px solid #777;
 }

 div.gallery img {
     width: 100%;
     height: auto;
 }

.gallery {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.sy-controls a:hover {
  background-color: #5C9F24!important;
}

body {
  padding-top: 60px;
}

.about-mooch h3, h5 {
  text-align: left;
}

.about-mooch {

}

.about-column {
  width: 60%;
  height: auto;
  vertical-align: top;
  border-width: 1px;
  border-color: #5C9F24!important;
  border-style: solid;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.submissions {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
}

.field {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
}

.test-parent {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

div.testimonial {
    border: 1px solid #ccc;
    width: 33%;
    height: 575px;
    padding: 15px;
    vertical-align: top;
}

div.testimonial:hover {
    border: 1px solid #777;
}

div.testimonial img {
    width: 100%;
    height: auto;
}

.testimonial {
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
}
