<h1>Edit a Testimonial</h1>

<div class="submissions">
<%= render 'form', testimonial: @testimonial %>
<center>
<%= link_to 'Show', @testimonial %> |
<%= link_to 'Back', testimonials_path %>
</center>
</div>
