<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mooch | Open Source Leftovers</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta charset="utf-8">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>

    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Mooch</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><nav>
            <ul class="nav navbar-nav navbar-right">
              <li class="current"><a href="/foods">Home</a></li>
              <li><a href="pages/about">About</a></li>
              <li><a href="/testimonials">Testimonials</a></li>
              <li><a href="/contacts">Contact</a></li>
            </ul></nav>
          </div><!-- /.navbar-collapse -->
        </div>

      </div>
    </div>

  </header>


  <%= yield %>
</body>
</html>
